@font-face {
  font-family: "comfy";
  src: url("./font/comfortaa-variablefont_wght-webfont.woff2") format("woff2"),
    url("./font/comfortaa-variablefont_wght-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

:root {
  --background: #282a36;
  --board-size: min(60vw, 500px);
  --cell-size: calc(var(--board-size) / 10);
  --logo-ball-size: 75px;
  --shrink-scale: 1;
  --margin: calc((100vw - var(--board-size)) / 2);
  --shrunk-board: calc(var(--board-size) * var(--shrink-scale));
  /* --cat-tracker-size: calc(var(--board-size) * 0.4); */
  --cat-tracker-padding: 10px;
  --cat-tracker-width: calc(
    min((calc(var(--margin) * 0.95)), 200px) - (var(--cat-tracker-padding) * 2)
  );
  --cat-tracker-height: calc(var(var(--cat-tracker-width) * (4 / 5)));
  --cat-tracker-cell: calc(var(--cat-tracker-width) / 5);
  --margin-top: calc(((100vh - 100px) - var(--board-size)) * 0.5);
}

body {
  font-family: comfy, Verdana, Geneva, Tahoma, sans-serif;
  position: relative;
  display: grid;
  grid-template: 100px 1fr / 1fr 1fr 1fr;
  align-items: center;
  /* justify-items: center; */
  margin: 0;
  padding: 0;
  position: relative;
  color: whitesmoke;
  height: 100vh;
  width: 100vw;
  background: url("./img/grrass.jpeg");
  background-repeat: repeat;
  background-size: 400px;
  text-align: center;
}

.opening-screen {
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: 10;
  background: url("./img/grrass.jpeg");
  background-repeat: repeat;
  background-size: 100px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 2s;
}

.opening-screen p {
  background-color: #282a36bc;
  box-sizing: border-box;
  width: 300px;
  padding: 30px;
  border-radius: 30px;
}

@keyframes bounce {
  from {
    translate: 0;
  }
  to {
    translate: 0px -10px;
  }
}

.opening-screen button {
  animation-name: bounce;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: ease-out;
  color: whitesmoke;
  font-family: inherit;
  font-size: 1.5rem;
  appearance: none;
  border-radius: 50%;
  border: none;
  width: 150px;
  height: 150px;
  background: radial-gradient(hsl(39, 100%, 58%), hsl(39, 100%, 50%));
  cursor: grab;
  transition: 0.3s;
}

.opening-screen button:hover,
.play-again-button:hover {
  animation: none;
  scale: 0.9;
}

.opening-screen button:active,
.play-again-button:active {
  scale: 0.8;
}

.title {
  grid-area: 1 / 1 / 2 / -1;
  width: min-content;
  height: var(--logo-ball-size);
  margin: auto;
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.title .ball:nth-child(4) {
  grid-area: 1 / 1 / 2 / 2;
  margin-left: 0;
}

.title .ball:nth-child(3) {
  grid-area: 1 / 2 / 2 / 3;
}

.title .ball:nth-child(2) {
  grid-area: 1 / 3 / 2 / 4;
}

.title .ball:nth-child(1) {
  grid-area: 1 / 4 / 2 / 5;
}

.ball {
  box-shadow: 1px 1px 8px rgb(255, 140, 0);
  margin-left: calc(var(--logo-ball-size) * -0.5);
  content: "";
  height: var(--logo-ball-size);
  width: var(--logo-ball-size);
  border-radius: 50%;
  background: radial-gradient(hsl(39, 100%, 58%), hsl(39, 100%, 50%));
}

.words {
  grid-area: 1 / 1 / 2 / -1;
}
h1 {
  font-size: 2rem;
}

.player-board-container {
  grid-area: 2 / 2 / 3 / 3;
  transition: 0.3s;
  margin: auto;
  width: min-content;
  height: min-content;
  transform-origin: 0 0;
  z-index: 3;
}

.player-board,
.comp-board {
  /* box-sizing: border-box; */
  width: var(--board-size);
  height: var(--board-size);
  display: grid;
  grid-template: repeat(10, auto) / repeat(10, auto);
  background: url("./img/pexels-pixmike-413195.jpg");
  background-repeat: repeat;
  background-size: var(--cell-size) var(--cell-size);
}

.grid-cell {
  z-index: 0;
  box-sizing: border-box;
  border: 0.5px solid rgba(128, 128, 128, 0.164);
  width: var(--cell-size);
  height: var(--cell-size);
  position: relative;
}

.player-board {
  overflow: hidden;
}

.comp-board .grid-cell:hover::after {
  box-shadow: inset 0px 0px 50px rgb(255, 123, 0);
  cursor: pointer;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.comp-board .grid-cell:active::after {
  box-shadow: inset 0px 0px 50px 10px rgb(255, 123, 0);
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.player-board .grid-cell:hover::after {
  position: absolute;
  left: 0;
  content: "";
  background-color: rgba(0, 0, 0, 0.462);
  border-radius: 5px;
}

.player-board.cat-one .grid-cell:hover::after {
  width: var(--cell-size);
  height: calc(var(--cell-size) * 5);
}

.player-board-container.horizontal
  .player-board.cat-one
  .grid-cell:hover::after {
  height: var(--cell-size);
  width: calc(var(--cell-size) * 5);
}

.player-board.cat-two .grid-cell:hover::after {
  width: var(--cell-size);
  height: calc(var(--cell-size) * 4);
}

.player-board-container.horizontal
  .player-board.cat-two
  .grid-cell:hover::after {
  height: var(--cell-size);
  width: calc(var(--cell-size) * 4);
}

.player-board.cat-three .grid-cell:hover::after {
  width: var(--cell-size);
  height: calc(var(--cell-size) * 3);
}

.player-board-container.horizontal
  .player-board.cat-three
  .grid-cell:hover::after {
  height: var(--cell-size);
  width: calc(var(--cell-size) * 3);
}

.player-board.cat-four .grid-cell:hover::after,
.player-board.cat-five .grid-cell:hover::after {
  width: var(--cell-size);
  height: calc(var(--cell-size) * 2);
}

.player-board-container.horizontal
  .player-board.cat-four
  .grid-cell:hover::after,
.player-board-container.horizontal
  .player-board.cat-five
  .grid-cell:hover::after {
  height: var(--cell-size);
  width: calc(var(--cell-size) * 2);
}

.player-board-container.shrink {
  scale: var(--shrink-scale);
  translate: calc((var(--margin) + var(--shrunk-board)) * -0.5);
}

.player-board-container.shrink:hover {
  scale: 0.75;
  border: 2px solid black;
}

.cat-img {
  transition: 0.3s;
  position: absolute;
  top: 3px;
  rotate: -90deg;
  width: var(--cell-size);
  pointer-events: none;
}

.cat1 {
  right: -10px;
  height: calc(var(--cell-size) * 5);
  transform: scale(5.5, 4);
}

.cat1.horizontal-cat {
  top: 5px;
  width: calc(var(--cell-size) * 5);
  transform: scale(3.8, 2.7);
}

.cat2 {
  top: 5px;
  left: -5px;
  height: calc(var(--cell-size) * 4);
  transform: scale(4.3, 2.5);
}

.cat2.horizontal-cat {
  top: -3px;
  width: calc(var(--cell-size) * 4);
  transform: scale(2.9, 1.7);
}

.cat3 {
  left: 0;
  height: calc(var(--cell-size) * 3);
  transform: scale(3.5, 2.5);
}

.cat3.horizontal-cat {
  width: calc(var(--cell-size) * 3);
  transform: scale(2.5, 1.8);
}

.cat4 {
  left: 0;
  height: calc(var(--cell-size) * 2);
  transform: scale(2, 2);
}

.cat4.horizontal-cat {
  width: calc(var(--cell-size) * 2);
  transform: scale(1.5);
}

.cat5 {
  left: 0;
  height: calc(var(--cell-size) * 2);
  transform: scale(2, 1.5);
}

.cat5.horizontal-cat {
  width: calc((var(--cell-size) * 2));
  transform: scale(1.5, 1.1);
}

.horizontal-cat {
  top: 0px;
  left: 0px;
  height: var(--cell-size);
  rotate: 0deg;
}

.grid-cell.attacked::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  box-shadow: inset 0px 0px 15px orange;
}

.grid-cell.attacked::before {
  z-index: 1;
  position: absolute;
  content: "";
  width: calc(var(--cell-size) / 3);
  height: calc(var(--cell-size) / 3);
  background-color: rgba(255, 166, 0, 0.698);
  border-radius: 50%;
  inset: 0;
  margin: auto;
}

.grid-cell.attacked.occupied::before {
  width: calc(var(--cell-size) / 1.5);
  height: calc(var(--cell-size) / 1.5);
  background-color: orange;
  transition: 1s;
}

.grid-cell.attacked.occupied.consume::before {
  scale: 0;
}

.rotate-button {
  background-color: hsl(39, 100%, 50%);
  appearance: none;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  margin: 5px;
}

.rotate-button:hover {
  background-color: hsl(39, 100%, 60%);
}

.rotate-button:active {
  background-color: hsl(39, 100%, 70%);
}

.comp-board-container {
  overflow: hidden;
  grid-area: 2 / 2 / 3 / 3;
  width: min-content;
  height: min-content;
  display: none;
  inset: 0;
  margin: auto;
}

.hidden {
  opacity: 0;
}

.cat-tracker-container {
  width: min-content;
  background-color: rgba(255, 255, 255, 0.405);
  padding: var(--cat-tracker-padding);
  border-radius: 20px;
  overflow: hidden;
  align-self: flex-start;
  margin: var(--margin-top) 10px;
  grid-area: 2 / 3 / 3 / 4;
  visibility: hidden;
}

.cat-tracker {
  display: grid;
  grid-template: repeat(4, auto) / repeat(5, auto);
  width: var(--cat-tracker-width);
  height: var(--cat-tracker-height);
  align-items: center;
  justify-items: flex-start;
}

.cat-tracker div {
  position: relative;
  box-sizing: border-box;
  border: 0.5px solid rgba(128, 128, 128, 0.5);
  height: var(--cat-tracker-cell);
  width: var(--cat-tracker-cell);
}

.cat-tracker div::after {
  position: absolute;
  content: "";
  background-color: orange;
  width: 40%;
  height: 40%;
  border-radius: 50%;
  z-index: 3;
  inset: 0;
  margin: auto;
  opacity: 0;
  transition: 0.5s;
}

.cat-tracker div::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(201, 201, 201, 0.54);
  opacity: 0;
  left: 0;
}

.cat-tracker div.cat-tracker-hit::after,
.cat-tracker div.cat-tracker-hit::before {
  opacity: 1;
}

.cat-tracker div img {
  height: var(--cat-tracker-cell);
}

.cat-tracker-first img {
  width: calc(var(--cat-tracker-cell) * 5);
  transform: scale(3.4, 2.7);
}

.cat-tracker-second img {
  width: calc(var(--cat-tracker-cell) * 4);
  transform: scale(2.9, 1.7);
}

.cat-tracker-third img {
  width: calc(var(--cat-tracker-cell) * 3);
  transform: scale(2.5, 1.8);
}

.cat-tracker-fourth img {
  width: calc(var(--cat-tracker-cell) * 2);
  transform: scale(1.5);
}

.cat-tracker-fifth img {
  width: calc(var(--cat-tracker-cell) * 2);
  transform: scale(1.5, 1.1);
}

.end-game {
  z-index: 3;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: #282a36ce;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}

.end-message {
  width: 300px;
}

.play-again-button {
  margin: 10px;
  appearance: none;
  border: none;
  font-family: inherit;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: radial-gradient(hsl(39, 100%, 58%), hsl(39, 100%, 50%));
  cursor: grab;
  transition: 0.3s;
}

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 850px) {
  :root {
    --scale-size: 0.4;
    --board-size: min(60vh, 90vw);
    --logo-ball-size: 50px;
    --second-row: calc((95vh - 50px) * (1 / (1.3 + 1)));
    --third-row: calc((95vh - 50px) * (1.3 / (1.3 + 1)));
    --mini-board-size: calc(var(--board-size) * var(--scale-size));
    --cat-tracker-width: calc(var(--board-size) * 0.4);
  }

  body {
    display: grid;
    grid-template: 5vh 1fr 1.3fr 50px/ 50vw 50vw;
    align-items: center;
    justify-items: center;
  }

  .title {
    grid-area: 1 / 1 / 2 / 3;
    margin-top: 0;
  }

  h1 {
    font-size: 1rem;
  }

  .player-board-container {
    grid-area: 3 / 1 / 4 / 3;
  }

  .player-board-container.shrink {
    scale: var(--scale-size);
    translate: 0px
      calc(
        (
            var(--third-row) - var(--board-size) + var(--second-row) +
              var(--mini-board-size)
          ) * -0.5
      );
    justify-self: center;
  }

  .player-board-container.shrink:hover {
    scale: 0.75;
  }

  .comp-board-container {
    margin-top: auto;
    display: none;
    position: relative;
    grid-area: 3 / 1 / 4 / 3;
  }

  .cat-tracker-container {
    margin: auto;
    grid-area: 2 / 2 / 3 / 3;
  }
}

@media only screen and (max-width: 450px) {
  :root {
    --scale-size: 0.5;
  }
}
