/* @font-face {
  font-family: 'MyFont';
  src: url('./my-font.woff2') format('woff2'),
    url('./my-font.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}; */
:root {
  --cell-size: 8vw;
}
body {
  height: 100%;
}

.player-board, 
.comp-board {
  width: min-content;
  display: grid;
  grid-template: repeat(10, auto) / repeat(10, auto);
}

.grid-cell {
  border: 0.5px solid rgba(128, 128, 128, 0.164);
  width: var(--cell-size);
  height: var(--cell-size);
  position: relative;
}

.comp-board .grid-cell:hover {
  box-shadow: inset 0px 0px 5px grey;
  cursor: pointer;
}
.player-board .grid-cell:hover::after {
  position: absolute;
  content: '';
  background-color: black;
  border-radius: 5px;
}

.player-board.cat-one .grid-cell:hover::after {
  width: var(--cell-size);
  height: calc(var(--cell-size) * 5);
}

.player-board.horizontal.cat-one .grid-cell:hover::after {
  height: var(--cell-size);
  width: calc(var(--cell-size) * 5);
}

.player-board.cat-two .grid-cell:hover::after {
  width: var(--cell-size);
  height: calc(var(--cell-size) * 4);
}

.player-board.horizontal.cat-two .grid-cell:hover::after {
  height: var(--cell-size);
  width: calc(var(--cell-size) * 4);
}

.player-board.cat-three .grid-cell:hover::after {
  width: var(--cell-size);
  height: calc(var(--cell-size) * 3);
}

.player-board.horizontal.cat-three .grid-cell:hover::after {
  height: var(--cell-size);
  width: calc(var(--cell-size) * 3);
}

.player-board.cat-four .grid-cell:hover::after,
.player-board.cat-five .grid-cell:hover::after {
  width: var(--cell-size);
  height: calc(var(--cell-size) * 2);
}

.player-board.horizontal.cat-four .grid-cell:hover::after,
.player-board.horizontal.cat-five .grid-cell:hover::after {
  height: var(--cell-size);
  width: calc(var(--cell-size) * 2);
}

.cat-img {
  position: absolute;
  top: 3px;
  rotate: -90deg;
  width: var(--cell-size);
  pointer-events: none;
}

.cat1 {
  right: -10px;
  height: calc(var(--cell-size) * 5);
  transform: scale(5.5, 4);
}

.cat1.horizontal-cat {
  top: -5px;
  rotate: 180deg;
  width: calc(var(--cell-size) * 5);
  transform: scale(3.8, 2.7);
}

.cat2 {
  top: 5px;
  left: -5px;
  height: calc(var(--cell-size) * 4);
  transform: scale(4.3, 2.5);
}

.cat2.horizontal-cat {
  top: -3px;
  width: calc(var(--cell-size) * 4);
  transform: scale(2.9, 1.7);
}

.cat3 {
  height: calc(var(--cell-size) * 3);
  transform: scale(3.5, 2.5);
}

.cat3.horizontal-cat {
  width: calc(var(--cell-size) * 3);
  transform: scale(2.5, 1.8);
}

.cat4 {
  height: calc(var(--cell-size) * 2);
  transform: scale(2, 2);
}

.cat4.horizontal-cat {
  width: calc(var(--cell-size) * 2);
  transform: scale(1.5);
}

.cat5 {
  height: calc(var(--cell-size) * 2);
  transform: scale(2, 1.5);
}

.cat5.horizontal-cat {
  width: calc((var(--cell-size) * 2));
  transform: scale(1.5, 1.1);
}

.horizontal-cat {
  top: 0px;
  left: 0px;
  height: var(--cell-size);
  rotate: 0deg;
}

